/external_lib/boost/*
/external_lib/root/*
/cherenkov_test/gtest/*
/cmake-build-debug/*
/cmake-build-release/*
/.idea/*
*.root

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
settings.json
.DS_Store