<?xml version="1.0" encoding="UTF-8"?>

<config>

    <simulation note="Defines computational behavior of the simulation">
        <max_bytes unit="null" note="Maximum size of the data buffer">8000000000</max_bytes>
        <n_showers unit="null">4000</n_showers>
        <depth_step unit="g/cm^2">1.0</depth_step>
        <time_bin unit="s">100e-9</time_bin>
        <fluor_thin unit="null">1</fluor_thin>
        <ckv_thin unit="null">1</ckv_thin>
        <time_seed unit="null" note="Whether the seed should be set randomly by the current time">false</time_seed>
        <back_toler unit="null">1.15</back_toler>
    </simulation>

    <surroundings note="The orientation of the surroundings">
        <ground_normal unit="(null, null, null)">(0, 0, 1)</ground_normal>
        <ground_point unit="(cm, cm, cm)">(0, 0, -20000)</ground_point>
        <elevation_angle unit="rad">0.045</elevation_angle>
        <detect_elevation unit="cm">141400</detect_elevation>
    </surroundings>

    <monte_carlo note="Defines properties of randomly generated showers">
        <energy_pow unit="null">-1.0</energy_pow>
        <e_min unit="eV">1.0e17</e_min>
        <e_max unit="eV">1.0e21</e_max>
        <impact_min unit="cm">3.0e5</impact_min>
        <impact_max unit="cm">4.0e6</impact_max>
        <start_tracking unit="g/cm^2" note="Must be positive">50.0</start_tracking>
    </monte_carlo>

    <detector note="Properties of the optics and detector">
        <mirror_radius unit="cm">400.0</mirror_radius>
        <f_number unit="null">1.0</f_number>
        <field_of_view unit="rad">0.45</field_of_view>
        <n_pmt_across unit="null" note="Must be even">300</n_pmt_across>
    </detector>

    <triggering note="Thresholds in filtering and triggering">
        <trigger_thresh unit="null">6.0</trigger_thresh>
        <noise_thresh unit="null">3.0</noise_thresh>
        <trigger_clust unit="null">5</trigger_clust>
        <impact_buffer unit="rad">0.02</impact_buffer>
        <plane_dev unit="rad">0.03</plane_dev>
    </triggering>

</config>
